[Unit]
Description=Independently check Waystone and copy backups every five minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
